body , html {

    height: 100%;
    margin: 0;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(15, 97, 124);
}

a {
    color: white;
    text-decoration: none;
}
body {
    background-size: cover;
    padding-bottom: 500px;
}

nav {
    padding: 50px;

}
nav ul {
    list-style-type: none;
    float: right;
}
nav ul li{
    float:left;
}
nav ul li a {
    color: black;
    padding:0 30px;
}

#logo{
    font-size: 2em;
}
.container{
    text-align: center;
    width: 60%;
    margin: 110px auto;
}

h1{
    font-size: 3.5em;
}
.container p{
    font-size: 1.3em;
    line-height: 1.4em;
  
}