body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: linen;
    padding: 15px;
    margin: auto;
    width: auto;
}
.migos{
    background-color: darkgreen;
}
#movies{
    background-color:darkgray;
    color: maroon;
}
.login{
    background-color: darkolivegreen;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    width:auto;
}
input[type=text],input[type=email],input[type=password],input[type=number]{
    background-color:pink;
    width:40%;
    padding: 16px;
    margin: 16px;
    border: 1px green;
}
button{
    background-color:green;
    padding: 20px;
    width:80%;
    color: orange;
}
.cancelbtn{
    width: auto;
    background-color: red;
    padding: 20px;
    margin: auto;
}